:root {
  --background: #ffffff;
  --background-secondary: #e5e5e5;
  --foreground: #171717;
  --interactive: #ce7e5a;
  --brand: #ce7e5a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --background-secondary: #3b3b3b;
    --foreground: #ededed;
    --interactive: #a64d19;
    --brand: #a64d19;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background-secondary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-align: center;
  text-decoration: none;
  border-right: 2px solid var(--interactive);
  color: var(--foreground);
  padding: 8px;
  font-size: var(--font-size);
}

a:hover {
  background-color: var(--interactive);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

ul {
  padding-inline-start: 40px;
}
