.page {
  --pageMainPaddingInline: 24px;
  display: flex;
  background: var(--background);
  min-height: 100vh;
}

.pageNav {
  padding: 24px;
  flex-grow: 2;
  max-width: 500px;
  background: var(--background-secondary);
}

.pageMain {
  padding-block: 24px;
  padding-inline: var(--pageMainPaddingInline);
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.navTitle {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navTitleLine {
  flex-grow: 1;
  height: 3px;
  background: var(--foreground);
}

@media (min-width: 768px) {
  .page {
    --pageMainPaddingInline: 10vw;
  }
}

@media (min-width: 1024px) {
  .page {
    --pageMainPaddingInline: 20vw;
  }
}

@media (min-width: 1440px) {
  .page {
    --pageMainPaddingInline: 25vw;
  }
}
