.page {
  --pageMainPaddingInline: 24px;
  display: flex;
}

.pageNav {
  padding: 24px;
  flex-basis: fit-content;
  background: lightgray;
  max-width: 100vw;
}

.pageMain {
  padding-block: 24px;
  padding-inline: var(--pageMainPaddingInline);
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (min-width: 768px) {
  .page {
    --pageMainPaddingInline: 10vw;
  }
}

@media (min-width: 1024px) {
  .page {
    --pageMainPaddingInline: 20vw;
  }
}

@media (min-width: 1440px) {
  .page {
    --pageMainPaddingInline: 25vw;
  }
}
