.sections {
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.formCheckbox {
  display: flex;
  gap: 8px;
}
